[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/YouCompleteMe"]
	path = vimfiles/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
	ignore = dirty
[submodule "vimfiles/bundle/Vundle.vim"]
	path = vimfiles/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vimfiles/bundle/vim-dzo"]
	path = vimfiles/bundle/vim-dzo
	url = https://github.com/Blevs/vim-dzo.git
[submodule "vimfiles/bundle/vim-markdown-toc"]
	path = vimfiles/bundle/vim-markdown-toc
	url = https://github.com/mzlogin/vim-markdown-toc
[submodule "vimfiles/bundle/ultisnips"]
	path = vimfiles/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vimfiles/bundle/vim-snippets"]
	path = vimfiles/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
	
[submodule "vimfiles/bundle/vim-commentary"]
	path = vimfiles/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vimfiles/bundle/vim-gitgutter"]
	path = vimfiles/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
